.rules-container {
    position: fixed;
    bottom: 6px;
    right: 10px; 
    width: 35%; 
    height: 47%; /* 35% could be nicer still divided*/
    overflow: auto;   
    border: 1px solid #ccc; 
    background-color: #fff; 
}

table {
    width: 100%; 
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: center;
}

thead {
    position: sticky;
    top: 0; 
    background-color: #f4f4f4;
    z-index: 2; 
}

.close-button { 
    position: absolute;
    top: 0; 
    right: 0; 
}